@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply scroll-smooth antialiased;
}

.radix-themes {
  --default-font-family: 'Space Mono', monospace;
  --heading-font-family: 'Space Grotesk', sans-serif;
  
  --bg-primary: #121212;
  --bg-secondary: #1a1a1a;
  --primary: #f8f9fa;
  --accent: #6d28d9;
}