@import url("https://fonts.cdnfonts.com/css/satoshi");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply scroll-smooth antialiased;
  font-family: "Satoshi", sans-serif;
  --bg-primary: #222831;
  --bg-secondary: #393e46;
  --primary: #eeeeee;
  --accent: #00adb5;
}